*{
    margin: auto;
    padding: auto;
    /* text-align: justify; */
    font-family: "Josefin Sans","Trebuchet MS", Helvetica, sans-serif;
    font-weight:bolder;
    box-sizing:border-box;
    /* font-size:  2vw; */
}
body{
    background-image:url(phtb.jpg);
    background-size: 10%;
}

header, section{
    padding: 5px;
    /* background-color: rgb(52, 59, 113); */
    /* background-image:url(phtb.jpg); */
    color: #fdd8d8;
}
h1,h2{
    text-align: center;
    font-size: 3rem;
}
h2{
 font-size: 1.5rem;
}
section{
    /* padding-top: 20px; */
    /* border: rgb(52, 59, 113) 5px solid; */
    padding: 1%;

}
p{
    width: 90%;
    white-space: pre-line;
    /* border: red solid 1px; */

}
footer {
    text-align: right;
    padding: 5px;
    border-top: 10px white solid;
    background-color: #fdd8d8;
    color: black;
}
section.price p{
    text-align: left; /*expeirmental*/
    padding: 0 5em 0 1em; /*expeirmental*/

    margin-top: 1em;
    padding-top: 1em;
    border: #fdd8d8 2px solid;
    white-space: pre-line;
    border-radius: .5em;
    width: 80%;
}
a,
a:active,
a:hover,
a:visited{
    padding: 4px;
    border: #000000 2px solid;
    color: #000000;
    border-radius: .5em;
    text-decoration: none;
}
/* .aboutus{} */
.tzili_new *{
    /* v this is for bug testing v */
    /* border: red 1px solid; */

}

.tzili-sect{

    /* background-image: url(test.png);
    background-position: center;
    background-size:cover; */
    

    margin: 50px;
    padding: 25px;
    border: #fdd8d8 2px solid;
    white-space: pre-line;
    border-radius: 10px;

    backdrop-filter: blur(.15em);
    color: #fdd8d8;
    font-size:  2vw;
        /* added */
        box-shadow: 0px 0px 5px #fdd8d8;
}
.tzili-sect_hair-color{
    font-size: 4vw;
}
.float-attempt-1{
    height:50vw;
    width: 100%;
}
.float-attempt-1_1{
    float: left;
    /* margin: 0 3%; */
    width: 24%;
}
.float-attempt-1_2{
    float: left;
    /* margin: 0 3%; */
    width: 24%;
}
.float-attempt-1_3{
    float: left;
    /* margin: 0 3%; */
    width: 24%;
}
.float-attempt-1_4{
    float: left;
    /* margin: 0 3%; */
    width: 24%;
    box-sizing:content-box;
}

/* tziporah fogel section starts here. */
.tziporah_new *{
/* v This is for bug testing v */
 /* border: red 1px solid; */
}
.tziporah-sect{

    margin: 50px;
    padding: 25px;
    border: #fdd8d8 2px solid;
    white-space: pre-line;
    border-radius: 10px;

    backdrop-filter: blur(.15em);
    color: #fdd8d8;
    font-size:  2vw;
    /* added */
    box-shadow: 0px 0px 5px #fdd8d8;
}
h2.tziporah-sect{
    /* cant fgure out why the size is bigger probably has somthing
     to do with view hight but cant easily fix. so problem for another day. */
    /* font-size: 4vw; */
}

.float-attempt-2{
    height:50vw;
    width: 100%;
}
.float-attempt-2_1{
    float: left;
    width: 33%;
}
.float-attempt-2_2{
    float: left;
    width: 33%;
}
.float-attempt-2_3{
    float: left;
    width: 33%;
}

/* Beverly section starts here. */
.beverly_new *{
    /* v This is for bug testing v */
     /* border: red 1px solid; */
    }
    .beverly-sect{
    
        margin: 50px;
        padding: 25px;
        border: #fdd8d8 2px solid;
        white-space: pre-line;
        border-radius: 10px;
    
        backdrop-filter: blur(.15em);
        color: #fdd8d8;
        font-size:  2vw;
        /* added */
        box-shadow: 0px 0px 5px #fdd8d8;
    }
    
    .float-attempt-3{
        height:50vw;
        width: 100%;
    }
    .float-attempt-3_1{
        float: left;
        width: 50%;
    }
    .float-attempt-3_2{
        float: left;
        width: 50%;
    }




/* footer{} */